%li{:id => "sighting-#{sighting.id}"}
  = link_to sighting.url, sighting.url
  .score= sighting.score
  %ul.votes
    - sighting.votes.each do |vote|
      %li
        - if vote.is_positive?
          = image_tag 'vote_positive.png', :alt => '+',
            :title => "Sighting confirmed #{time_ago_in_words vote.created_at} ago"
        - else
          = image_tag 'vote_negative.png', :alt => '-',
            :title => "Sighting denied #{time_ago_in_words vote.created_at} ago"
  - if current_user_has_voted_on?(sighting)
    #thanks-for-your-vote Thanks for your vote!
  - else
    - fresh_votes_for_sighting(sighting).each do |type, message, vote|
      = form_for vote, :html => {:class => "#{type}-vote"} do |f|
        = f.hidden_field :sighting_id
        = f.hidden_field :is_positive
        = f.submit message
