%h2 Have you seen Tarla?
= render :partial => 'form', :locals => {:sighting => Sighting.new}
%h2 Recent sightings
#request-notification-permission
  %h3 Hey! We can send you notifications for these!
  %p
    Since your browser supports super-fancy desktop notifications, we can use
    those to let you know when new Tarla sightings come in. It's really great!
  
  = link_to "Let's do it!", '#', :class => 'grant-notification-permission-button'
%ul#sightings= render @sightings
= no_sightings_message(@sightings) do
  :markdown
    **We haven't seen Tarla lately... she's a sly one!** Tarla usually only
    stays in one spot for ten minutes maximum, so Tour Tracker sightings expire
    after 15 minutes, just to be safe.
    
    **If you see Tarla during your journeys, let us know, and quick!** Type in
    the URL where you found her above. Your peers will keep track of how long
    Tarla is there, or if she was even there in the first place, so please
    don't take advantage of the Tour Tracker! Thanks in advance!
    
    **Just leave this tab open somewhere, and we'll flash the title and icon
    really loud at you if Tarla shows up.**

- include_javascript_in_layout :jquery, 'jquery/placeholder', 'sightings/index'
- content_for :controls do
  = link_to 'Join the hunt!', locations_path, :class => 'locations-list-button'
  = link_to 'Reload', '#', :class => 'reload-button hidden-js-control'
