%p
  %strong Url:
  = @sighting.url
%p
  %strong Ip:
  = @sighting.ip
%p
  %strong Votes count:
  = @sighting.votes_count

== #{ link_to 'Edit', edit_sighting_path(@sighting) } | #{ link_to 'Back', sightings_path }
