!!!
%html
  %head
    %title== Tarla's Tour Tracker - OpenNeo
    %link#favicon{:rel => "shortcut icon", :type => 'image/x-icon', :href => "/favicon.ico"}
    = stylesheet_link_tag 'compiled/screen.css'
    %noscript
      = stylesheet_link_tag 'compiled/noscript.css'
    = csrf_meta_tag
  
  %body
    #container
      %header
        %h1 Tarla's Tour Tracker
        #controls
          = yield(:controls)
          = javascript_include_tag 'http://w.sharethis.com/button/sharethis.js#publisher=1e03f451-0266-4a5d-b256-43172aadbe0f&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine%2Clivejournal%2Caim'
      - unless yield(:title).blank?
        %h2= yield(:title)
      - [:notice, :alert].each do |type|
        - unless send(type).blank?
          %p{:class => type}= send(type)
      #content= yield
    %footer
      :markdown
        Brought to you by [OpenNeo][1]. We make open-source apps for fun.
        
        That means that you can [view the code for this project][2], and
        feel free to contribute!
        
        Oh, and wardrobe freaks should check out [Dress to Impress][3]!
        
        Images &copy; 2000-2010 Neopets, Inc. All Rights Reserved.
        Used With Permission
        
        [1]: http://www.openneo.net/
        [2]: http://github.com/matchu/openneo-tarla
        [3]: http://impress.openneo.net/
    = yield(:javascripts)
    = render 'shared/analytics'
